.GettingStartedBtn{
    position: relative;
    width:270px;
    height:50px;
    text-align: center;
    background-color: #d3ac2b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    box-shadow: #00000050 0px 0px 10px;
    transition: ease all 0.2s;
}

.GettingStartedBtn:hover{
    background-color: #ffc95e;
}

.Text {
    
    text-align: center;
    width: 80%;
    
}

.Text a{
    color: #354649;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.BtnSquare{
    position: relative;
    width:20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    
}

.BtnSquare img{
    width:50%;
    animation: slide 2s linear infinite;
    animation-play-state: running;
}

@keyframes slide {
    15% {transform: translateX(-1px);}
    25% {transform: translateX(-1px);}
    50% {transform: translateX(-1px);}
    75% {transform: translateX(1px);}
    85% {transform: translateX(1px);}
    100% {transform: translateX(1px);}
}