.NavigationLink {
    margin: 0px 20px 0px 20px;
    list-style: none;
    
}

.NavigationLink a{
    color: #354649;
    text-decoration: none;
    z-index: 3;
    transition: ease all 0.2s;
}

@media (min-width: 450px){
    .NavigationLink a:hover{
        color: #D3ac2b;
    }
}