.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Input {
  margin-top: 20px;
}
.Close {
  left: 0;
  position: absolute;
  height: 50px;
  width: 50px;
}
.btnContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
