.Mobile{
    display: none;
}

.MobileBackgroundImg{
    top:0;
    position: relative;
    height: 100vh;
    max-height: 700px;
    width: 100%;
    z-index: 1;
}

.MobileBackgroundImg img{
    top:0;
    position: absolute;
    height: 100vh;
    max-height: 700px;
    width: 100%;
    z-index: 1;
}

.ImageOverlay{
    position: absolute;
    z-index: 2;
    display: flex;
    font-family: 'Montserrat' sans-serif;
    width: 100%;
}

.HeroText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeroHeading{
    color:#354649;
    font-size: 33px;
    margin-bottom: 0;
}

.HeroSubheading{
    color:#e0eceb;
    font-size: 20px;
    margin-bottom: 40px;
}

.Hero{
    max-height: 700px;
    height:100vh;
}

/*Mobile view portrait*/
@media (max-width: 660px){
    .ImageOverlay{
        top:120px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .HeroSubheading{
        width: 270px;
    }
    .Illustration{
        display:none;
    }
    .Curve{
        display:none;
    }
    .CornerImg{
        display:none;
    }
    .WideBackgroundImg{
        display: none;
    }
}
/* Mobile view landscape */
@media (min-width:450px) and (max-width: 840px) and (max-height:450px){
    .ImageOverlay{
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat' sans-serif;
        top:50px;
    }
    .HeroText{
        width: 300px;
    }
    .HeroSubheading{
        width: 90%;
    }
    .HeroBG{
        display:block;
    }
    .Curve, .CornerImg, .Illustration{
        display: none;
    }
    .MobileBackgroundImg{
        display: none;
    }
    .WideBackgroundImg img{
        height:100%;
        width:100%;
        position: absolute;
        top:0;
        display: block;
    }
    .CornerImg{
        display: block;
        top:0;
        right:0;
        position: absolute;
        
    }
    .CornerImg img{
        width:200px;
        height:200px;
    }
    
}
/* Tablet view portrait */
@media (min-width: 660px) and (max-width:990px) and (min-height:450px){
    .ImageOverlay{
        width:300px;
        position: relative;
        left:20px;
        top:-200px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .HeroSubheading{
        width: 350px;
    }
    .MobileBackgroundImg{
        display: none;
    }
    .CornerImg{
        display: block;
    }
    .CornerImg img{
        position: absolute;
        width: 250px;
        height:250px;
        top:0;
        right: 0;
    }

    .Hero{
        height:400px;
    }

    .WideBackgroundImg{
        position: absolute;
        top:0;
        width:100%;
        height: 400px;
    }

    .WideBackgroundImg img{
        top:0;
        position: absolute;
        height: 400px;
        width:100%;
        display: block;
        z-index: 0;
    }
    .Illustration{
        display: block;
        z-index: 5;
        position: relative;
        margin-left:320px;
        top:80px;
    }
    .Illustration img{
        width:400px;
        height:auto;
        z-index: 99;
        right: 0;
    }
    .Curve{
        position: relative;
        margin-top:-190px;
    }
    .HeroBG{
        height:400px;
    }
    .HeroHeading{
        font-size: 1.5rem;
    }

    .HeroSubheading{
        font-size: 1.2rem;
        width: 260px;
    }
}
/* Large tablet landscape (iPad prod) */
@media (min-width:990px) and (max-width:1200px){
    .Hero{
        height:500px;
    }
    .ImageOverlay{
        width:300px;
        position: relative;
        left:80px;
        margin-top:-350px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .HeroSubheading{
        width: 350px;
    }
    .MobileBackgroundImg{
        display: none;
    }
    .CornerImg{
        width:100%;
        display: flex;
        justify-content: flex-end;
    }
    .CornerImg img{
        position: relative;
        width: 300px;
        height:270px;
        top:0;
        right: 0;
    }

    .WideBackgroundImg img{
        top:0;
        position: absolute;
        height: 500px;
        width:100%;
        display: block;
        z-index: 0;
    }
    .Illustration{
        display: block;
        z-index: 5;
        position: relative;
        margin-top: -160px;
        margin-left:450px;
    }
    .Illustration img{
        width:500px;
        height:auto;
        z-index: 99;
        right: 0;
    }
    .Curve{
        position: relative;
        top:80px;
    }
    
    .HeroHeading{
        font-size: 1.5rem;
    }

    .HeroSubheading{
        font-size: 1.2rem;
        width: 260px;
    }
}
/* Laptop */
@media (min-width:1200px){
    .Mobile{
        display:block;
    }
    .HeroBG{
        width: 100%;
        height: 100vh;
        position: relative;
        margin-top: -10vh;
        z-index: 1;
    }

    .MobileBackgroundImg{
        display: none;
    }

    .WideBackgroundImg{
        height: 100%;
        width: 100%;
        z-index: 0;
        max-height: 800px;
    }

    .WideBackgroundImg img{
        position: relative;
        height: 100%;
        width: 100%;
        max-height: 800px;
    }

    .CornerImg img{
        top: 0;
        right: 0;
        position: absolute;
        height:350px;
        width:400px;
        margin-top:10vh;
    }

    .Illustration img{
        position: absolute;
        top:200px;
        right:180px;
        width: 45%;
        height:auto;
        z-index: 1;
    }

    .ImageOverlay{
        width: 350px;
        position: absolute;
        left: 150px;
        top:250px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .HeroText {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        z-index: 2;
    }

    .HeroSubheading{
        font-size: 1.4rem;
        width:100%;
    }

    .HeroHeading{
        width: 100%;
        font-size: 2.2rem;
    }

    .Curve{
        margin-top:-65px;
    }
}
